<mat-card class="form-card">
    <mat-card-content>
        <form action="#">
            <mat-form-field>
                <mat-label>نام</mat-label>
                <input matInput placeholder="نام خود را وارد کنید" required>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label> نام خانوادگی</mat-label>
                <input matInput placeholder="نام خانوادگی خود را وارد کنید" required>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label> کد ملی</mat-label>
                <input matInput placeholder="کد ملی خود را وارد کنید" required>
            </mat-form-field>


        </form>
    </mat-card-content>
</mat-card>
