<div class="table">
<table mat-table [dataSource]="dataSource$" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>ردیف</th>
      <td mat-cell *matCellDef="let person; let i = index"> {{ i + 1 }} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef> نام </th>
      <td mat-cell *matCellDef="let person"> {{person.fname}} </td>
    </ng-container>
  
    <!-- lname Column -->
    <ng-container matColumnDef="lname">
      <th mat-header-cell *matHeaderCellDef> نام خانوادگی </th>
      <td mat-cell *matCellDef="let person"> {{person.lname}} </td>
    </ng-container>
    
    <!-- NationalCode Column -->
    <ng-container matColumnDef="nationalCode">
      <th mat-header-cell *matHeaderCellDef> کد ملی </th>
      <td mat-cell *matCellDef="let person"> {{person.nationalCode}} </td>
    </ng-container>
  
    <!-- DOB Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> تاریخ تولد </th>
      <td mat-cell *matCellDef="let person"> {{person.dob}} </td>
    </ng-container>

    <!-- gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> جنسیت </th>
      <td mat-cell *matCellDef="let person"> {{person.gender ? (person.gender === "1" ? 'خانم' : 'آقا') : '-'}} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> آدرس </th>
      <td mat-cell *matCellDef="let person"> {{person.address.province ? person.address.province : '-'}} - {{person.address.city}} </td>
    </ng-container>

    <!-- OPS Column -->
    <ng-container matColumnDef="ops">
      
      <th mat-header-cell *matHeaderCellDef> عملیات </th>
      <td mat-cell *matCellDef="let person" class="ops-btns">
        <button mat-stroked-button color="primary" (click)="editPerson(person)" >ویرایش</button>
        <button mat-raised-button color="warn" (click)="deletePerson(person.id)" >حذف</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</div>