.table {
    overflow-x: auto;
    margin: 1rem;
    border-radius: 8px;
}

.mat-mdc-header-cell {
    text-align: right;
}

.mat-mdc-cell {
    text-align: right;
}
.ops-btns {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}